@font-face {
  font-family: "LG";
  src: url(fonts/LeagueGothic-Regular.otf);
}

@font-face {
  font-family: "LG Condensed";
  src: url(fonts/LeagueGothic-CondensedRegular.otf);
}

@font-face {
  font-family: "LG Condensed Italic";
  src: url(fonts/LeagueGothic-CondensedItalic.otf);
}

@font-face {
  font-family: "LG Italic";
  src: url(fonts/LeagueGothic-Italic.otf);
}

@font-face {
  font-family: "Georgia";
  src: url(fonts/georgiai.ttf);
}

@font-face {
  font-family: "OS Light";
  src: url(fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: "OS Extrabold";
  src: url(fonts/OpenSans-ExtraBold.ttf);
}