@font-face {
  font-family: 'League Gothic';
  src: local('League Gothic'),
  url(fonts/LeagueGothic-Regular.otf) format('otf');
}

@font-face {
  font-family: 'League Gothic Condensed';
  src: local('League Gothic Condensed'),
  url(fonts/LeagueGothic-CondensedRegular.otf) format('otf');
}

@font-face {
  font-family: 'League Gothic Condensed Italic';
  src: local('League Gothic Condensed Italic'),
  url(fonts/LeagueGothic-CondensedItalic.otf) format('otf');
}

@font-face {
  font-family: 'League Gothic Italic';
  src: local('League Gothic Italic'),
  url(fonts/LeagueGothic-Italic.otf) format('otf');
}

@font-face {
  font-family: 'Georgia';
  src: local(Georgia),
  url(fonts/georgiai.ttf) format('ttf');
}

@font-face {
  font-family: "Open Sans Light";
  src: local("Open Sans Light"),
  url(fonts/OpenSans-Light.ttf) format('ttf');
}

@font-face {
  font-family: "Open Sans Extrabold";
  src: local("Open Sans Extrabold"),
  url(fonts/OpenSans-Extrabold.ttf) format('ttf');
}