@font-face {
  font-family: 'LG';
  src: local('League Gothic'),
  url(../fonts/LeagueGothic-Regular.otf) format('otf');
}

@font-face {
  font-family: 'LG Condensed';
  src: local('League Gothic Condensed'),
  url(fonts/LeagueGothic-CondensedRegular.otf) format('otf');
}

@font-face {
  font-family: 'LG Condensed Italic';
  src: local('League Gothic Condensed Italic'),
  url(fonts/LeagueGothic-CondensedItalic.otf) format('otf');
}

@font-face {
  font-family: 'LG Italic';
  src: local('League Gothic Italic'),
  url(fonts/LeagueGothic-Italic.otf) format('otf');
}

@font-face {
  font-family: 'Georgia';
  src: local(Georgia),
  url(fonts/georgiai.ttf) format('ttf');
}

@font-face {
  font-family: "OS Light";
  src: local("Open Sans Light"),
  url(fonts/OpenSans-Light.ttf) format('ttf');
}

@font-face {
  font-family: "OS Extrabold";
  src: local("Open Sans Extrabold"),
  url(fonts/OpenSans-Extrabold.ttf) format('ttf');
}