@import '../desktop';
& {
  margin: 0px;
  padding-top: 78px;
  padding-bottom: 75px;
  padding-left: 17px;
  display: block;
  box-sizing: border-box;
  width: 768px;

  .logo {
    display: block;
    margin-right: 0px;
  }

  nav {
    display: block;
    box-sizing: border-box;
    margin-top: 30px;
    margin-left: 1px;
  }

  ul {
    box-sizing: border-box;
  }

  li {
    margin-right: 45px;
  }

  nav a {
    padding: 0px 4px 1px 0px;
  }

}
