& {
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-width: 960px;
  padding-left: 190px;
  height: 133px;
  background: url("../images/backgrounds/bgFooter960.jpg") no-repeat;
  background-size: cover;

  nav  {
    margin-top: -20px;
    margin-right: 298px;

    li {
      display: inline-block;
      margin-right: 30px;
      box-sizing: border-box;

      &:last-child {
        margin-right: 0px;
      }

    }

    a {
      display: block;
      padding: 0px 4px 1px;
      box-sizing: border-box;
      font-family: "LG";
      font-size: 20px;
      color: #ffffff;
      text-transform: uppercase;
      text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.4);
      text-decoration: none;

      &:hover {
        text-shadow: -1px 2px 2px rgba(255, 255, 255, 0.4);
      }
    }
  }

  p {
    margin-top: -17px;
    font-size: 12px;
    font-family:'OS Light';
    color: #fff;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.4);

    span {
      font-family: "OS Extrabold";
    }
  }
}
