@import 'settings';

.portfolio {
	margin: 0px auto;
	padding: 55px 150px;
	text-align: center;
	box-sizing: border-box;
	outline: 1px solid red;


	.img {
		display: inline-block;
		margin: 0px 10px 10px 0px;
		width: 240px;
		height: 220px;
		@include img-path("../img/img1.png");
	}

	.img2 {
		@extend .img;
		@include img-path("../img/img2.png");
	}

	.img3 {
		@extend .img;
		@include img-path("../img/img3.png");
	}

	.img4 {
		@extend .img;
		@include img-path("../img/img4.png");
	}

	.img5 {
		@extend .img;
		@include img-path("../img/img5.png");
	}

	.img6 {
		@extend .img;
		@include img-path("../img/img6.png");
	}

	.img7 {
		@extend .img;
		@include img-path("../img/img7.png");
	}

	.img8 {
		@extend .img;
		@include img-path("../img/img8.png");
	}

	.img9{
		@extend .img;
		@include img-path("../img/img9.png");
	}

	.img10 {
		@extend .img;
		@include img-path("../img/img10.png");
	}

	.img11 {
		@extend .img;
		@include img-path("../img/img11.png");
	}

	.img12 {
		@extend .img;
		@include img-path("../img/img12.png");
	}
}