& {
  margin: 0px auto;

  &__body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    height: 400px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .button {
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-size: cover;
    border: none;
    outline: none;

    &--left {
      left: 0;
      background: url("../images/details/arrowLeft.png") no-repeat;

      &:hover {
        cursor: pointer;
        background-image: url("../images/details/leftClick.png");
        animation: circle-button 0.5s  ease-in-out forwards;
      }
    }

    &--right {
      right: 0;
      background: url("../images/details/arrowRight.png") no-repeat;
      background-position: top right;

      &:hover {
        cursor: pointer;
        background-image: url("../images/details/rightClick.png");
        animation: circle-button 0.5s  ease-in-out forwards;
      }
    }
  }

  .content-slider {
    display: flex;
    justify-content: space-between;
    width: 870px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

    &__text {;
      h1 {
        margin-top: 88px;
        font-family: "LG";
        font-weight: 300;
        font-size: 60px;
        color: #fff;
      }

      h2 {
        margin-right: 0px;
        margin-bottom: 6px;
        font-family: "LG";
        font-size: 32px;
        font-weight: 300;
        color: #edbfff;
      }

      p {
        width: 520px;
        margin-right: 0px;
        font-family:"OS Light";
        letter-spacing: 0px;
        font-size: 18px;
        line-height: 24px;
        color: #fff;
      }
    }

    &__phone {
      margin-top: -10px;
      margin-right: 0px;
      width: 274px;
      height: 434px;
      background: url("../images/details/iphone.png") no-repeat;
      background-size: contain;
    }
  }

  &__controller {
    display: flex;
    justify-content: space-between;
    margin-top: 91px;
    margin-bottom: 60px;
    margin-left: 73%;
    width: 73px;
    
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;
      box-sizing: border-box;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.3);
      
      div {
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
      
      &:hover {
        cursor: pointer;

        div {
           animation: slider-hover .4s ease-in-out forwards;
        }
      }

      &.active {

        div {
          border: 1px solid #ffffff;
          background: linear-gradient(180deg, #d4d4d4 0%, #ffffff 100%);
        }
      }

      

    }
  }
}

