& {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 72px 0px 60px 0px;
  box-sizing: border-box;
  width: 100%;
  background: linear-gradient(to top, #322539 0%, #745083 100%);

  &__item {
    margin-left: 10px;
    width: 415px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-family: "LG";
    text-shadow: 0px 1px 0px #000;
    line-height: 1.47;

    h1 {
      margin-bottom: 0px;
      font-size: 24px;
      font-weight: 100;
    }

    p {
      margin-bottom: 11px;
      font-size: 16px;
      font-family: "OS Light" ;
    }

    a {
      font-size: 20px;
      float: right;
      margin-right: -5px;
      color: #fff;
      text-decoration: none;
      font-family: "LG";

      &:hover {
        text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
      }
    }

    .icon {
      margin-top: 7px;
      //margin-right: 20px;
      width: 31px;
      height: 33px;
      background: url("../images/details/key.png") no-repeat ;
      background-size: contain;
    }

    .information {
      padding-left: 5px;
      width: 366px;
      text-align: justify;
      word-wrap: break-word;
      word-break: break-all;
    }

    &--two {
      margin-top: 15px;
      margin-bottom: 20px;

      .icon {
        background-image: url("../images/details/speach.png");
      }
    }

    &--three {
      .icon {
        background-image: url("../images/details/music.png");
      }

    }

  }
}
