.wrapper {
  margin: 30px;
  font-family: sans-serif;
}

.tabs {
  overflow: hidden;
}

li {
  float: left;
  border: 1px solid #ccc;
  border-radius: 8px 8px 0px 0px;
  border-bottom: none;
}

a {
  display: block;
  padding: 8px 16px;
  font-size: 18px;
  line-height: 21px;
  color: #999;
  text-decoration: none;
  font-family: sans-serif;
}

a.active,
a:hover {
  color: #369;
}

.tabs-content {
  padding: 20px;
  font-size: 16px;
  line-height: 21px;
  border: 1px solid #ccc;
  border-radius: 0px  8px 8px;
}
