body {
    margin: 10px;
    background-color: lightgray;
}

div,
.dev {
    margin:auto;
    margin-bottom: 30px;
    padding: 40px;
    width:450px;
    background-color:white;
    transition: .2s;
}

h1 {
    text-align: center;
}

p{
    font-size:18px;
    padding:20px 20px 0px;
    border-top:1px solid black;
}
ul{
    padding-top:10px;
    font-size:18px;
}

img{
    display: block;
    margin:auto;
    width:150px;
    text-align: center;
}
.labelFor{
    border:none;
    padding-top:0px;
    
}