& {
  display: flex;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: #ececec;

  &>div {
    width: 275px;
  }

  h1 {
    margin-bottom: 16px;
    font-family: "LG";
    font-size: 30px;
    color: #454545;
  }

  p {
    font-family: "OS Light";
    font-size: 16px;
    color: #787878;
  }

  .about {
    h1 {
      font-size: 48px;

      span {
        color: #b9b9b9;
      }
    }

    h1 + span {
      font-family: 'Georgia';
      font-style: italic;
      font-size: 16px;
      color: #c5c5c5;
    }

    p {
      margin-top: 16px;
    }
  }
}
