& {
  display: flex;
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 85px;
  padding-left: 193px;
  background-color: #ececec;
  min-width: 960px;

  &__item {
    width: 275px;


    h1 {
      margin-bottom: 12px;
      font-family: "LG";
      font-size: 30px;
      color: #454545;
    }

    p {
      font-family: "OS Light";
      font-size: 16px;
      line-height: 21px;
      color: #787878;
      word-wrap: break-word;
      hyphens: auto;
    }

    &--about {
      margin-right: 62px;
      h1 {
        font-size: 48px;

        span {
          color: #b9b9b9;
        }
      }

      h1 + span {
        font-family: 'Georgia';
        font-style: italic;
        font-size: 16px;
        color: #c5c5c5;
      }

      p {
        margin-top: 16px;
      }
    }

    &--comments {
      padding-top: 2px;
      margin-right: 66px;
    }

    &--categories {
      padding-top: 2px;
    }
  }

}
