.by-auto {
  position: relative;
  margin-right: 14px;
  width: 415px;
  vertical-align: top;

  h1 {
    position: absolute;
    top: .5px;
    left: 30.5%;
    letter-spacing: .2px;
    word-spacing: 1.45px;
  }

  .search-form-wrapper {
    margin: 4px 10px 0px 15px;
  }

  .search-form-wrapper > div:last-child{
    margin-left: 21px;
  }

  h2 {
    margin-bottom: 6px;
    margin-left: 5px;
    font-size: 10px;
  }

  .container {
    margin-left: 2px;
    margin-bottom: 5px;
    height: 17px;
    line-height: 7px;
  }

  p {
    width: 71px;
  }

  .right {
    margin-top: -2px;
    margin-right: 10px;
  }

  select {
    width: 104px;
    margin: 0px 0px 0px 2px;
  }

  .year {
    select {
      width: 60px;
    }
  }

  a {
    margin-top: 1px;
    margin-right: 20px;
  }
}

