.by-auto {
	position: relative;
	width: 410px;
	padding: 5px  10px 5px 15px;
	vertical-align: top;
	>div {
		vertical-align: top;
		width: 175px;
		display: inline-block;
		// outline: 1px solid red;
		div {
			vertical-align: top;
			outline: 1px solid blue;
		}
	}

	h1 {
		position: absolute;
		top: 5px;
		left: 30%;
		font-family: 'Arial Black';
		font-size: 12px;
		color: #154468;
	}
	h2 {
		font-family: 'Arial Black';
		font-size: 10px;
		color: #154468;
		margin-bottom: 5px;
	}

	.disks {
		h2 {
			text-align: left;
		}
	}

	.tires {
		float: right;		
		h2 {
			text-align: right;
		}		
	}
	label {
		box-sizing: border-box;
		display: inline-block;
		width: 70px;
		// height: 17px;
		font-family: Arial;
		font-size: 10px;
		outline: 1px solid red;
	}
	span {
		font-family: Arial;
		font-size: 9px;
		color: #77858b;
	}
	
	select {
		width: 100px;
		height: 17px;
		outline: 1px solid red;
	}
}