.by-disks {
  width: 265px;

  h1 {

    margin-left: 6px;
    margin-bottom: 5px;
    letter-spacing: 1px;
  }

  .container {
    margin-left: 14px;
    margin-bottom: 5px;
    width: 160px;
    line-height: 12px;
    vertical-align: top;
    select {
      padding-left: 3px;
      width: 51px;

    }
  }

  p {
    width: 87px;
    letter-spacing: 1px;
    line-height: 8px;
    font-family:"Lucida Sans Unicode";

  }

  p span {
    font-family:"Lucida Sans Unicode";
    font-size: 9px;

  }



  .disks-part1 {
    margin-top: 1px;
    border-right: 1px solid #9c9c9d;
    .container:first-child {
      outline:2px solid greenyellow;
      select {
        outline: auto;
        width: 68px;
      }
    }
    .container:last-child {
      p span {
        margin-top: -3px;
        line-height: 10px;
      }
      select {
        width: 60px;
        line-height: 40px;
      }
    }
  }

  .disks-part2 {
    margin: 0px;
    margin-top: 5px;
    margin-left: 9px;
    padding-right: 15px;

    p {
      margin-bottom: 4px;
      width: 70px;
      line-height: 8px;
    }
    p span {
      font-size: 8px;
      letter-spacing: .2px;
      line-height: 2px;
      word-spacing: 1px;
      white-space: pre-wrap;
    }

    select {
      margin-bottom: 8px;
      margin-left: 2px;
      padding-left: 1px;
      width: 60px;
    }


  }

  a {
    margin-top: -7px;
    margin-right: 17px ;
  }
}
