
.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2px;
  min-height: 600px;
}

.catalogue-title {
  display: flex;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 12px;
  box-sizing: border-box;
  width: 184px;
  height: 27px;
  border: 1px solid #79878d;
  border-radius: 11px;
  font-size: 12.73px;
  color: #114165;
  font-family: "Lucida Sans Unicode";
  box-shadow: 2px 3px 3px rgba(150, 150, 150, .75);
}

.subcatalogue-title {
  display: flex;
  align-items: center;
  margin-top: 1px;
  box-sizing: border-box;
  width: 150px ;
  height: 28px;
  border: 1px solid #79878d;
  border-radius: 12px;
  font-size:14px;
  font-family: "Lucida Sans Unicode";
  color: #114165;

  h1 {
    margin-top: 1px;
  }
}

.circle-border {
  margin: 1px;
  margin-left: 5px;
  margin-right: 3px;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  border: 6px solid #114165;
  border-radius: 50%;
}

.circle-list {
  margin: 2px;
  margin-left: 1px;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  line-height: 24px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  background: linear-gradient(to bottom, #206988 0%, #114165 59%, #0c3256 100%);
}

.catalogue {
  display: flex;
  flex-direction: column;
  margin-left: -1px;
  padding-left: 2px;
  box-sizing: border-box;
  width: 185px;

  li {
    margin-left: 36px;
    margin-bottom: 1px;
    height: 24px;
    line-height: 24px;
  }
  
  a {
    display: inline-block;
    font-size: 12.75px;
    line-height: 24px;
    font-family: "Lucida Sans Unicode";
    text-decoration: none;
    color: #114165;

  }

  a:before {
    display: inline-block;
    margin-right: 3px;
    box-sizing: border-box;
    width: 7px;
    height: 7px;
    border: 2px solid #79878d;
    border-radius: 50%;
    content: "";;
    font-size: 14px;
    line-height: 24px;
    color: #79878d;
  }

  a:hover {
    animation: catalogueList .1s 1 ease-out forwards;
    letter-spacing: 0px;
  }

  a:hover:before {
    border-color: #313a55;
  }

  .subcatalogue-body:last-child {
    margin-top: -1px;
  }
}

.producer {
  display: flex;
  flex-direction: column;
  width: 183px;

  .catalogue-title {
    margin-top: 1px;
    padding: 1px;
    font-size: 14px;

    .circle-list {
      margin-left: 2px;
      margin-right: 6px;
    }
  }

  .subcatalogue-title {
    margin-top: 2px;
    margin-left: 14px;
    width: 138px;

    .circle-border {
      margin: 0px;
      margin-top: -2px;
      margin-left: 4px;
      margin-right: 5px;
      width: 22px;
      height: 22px;
    }
  }

  button {
    margin-top: 7px;
    margin-left: 24px;
    box-sizing: border-box;
    width: 82px;
    height: 28px;
    border: 1px solid #a7abae;
    border-radius: 14px;
    font-size: 12px;
    color: #fff;
    background: linear-gradient(to bottom, #206988 0%, #114165 59%, #0c3256 100%);
    box-shadow: 1px 2px 2px #d5d5d5;
    transition:text-shadow .35s;

    &:hover {
      cursor: pointer;
      text-shadow: 1px 1px 1px #fff;
    }
  }
}

.producer-body {
  margin-top: 2px;
  margin-left: 25px;
  margin-bottom: 7px;

  p {
    margin-bottom: 2px;
    font-size: 12.75px;
    line-height: 24px;
    font-family: "Lucida Sans Unicode";
    text-decoration: none;
    color: #114165;

    input[type="checkbox"] {
      display: none;
    }

    label {
      transition: font-weight .6s;
    }

    input[type="checkbox"] + label span {
      display: inline-block;
      margin-right: 13px;
      width: 10px;
      height: 10px;
      vertical-align: middle;
      cursor: pointer;
      background: url("../img/check10.png") 0px -1px no-repeat;
    }

    input[type="checkbox"]:checked + label span {
     animation: checkboxes .5s 1 steps(2,end) forwards;
    }

    label:hover {
      cursor: pointer;
      font-weight: bolder;
     }
  }
}

