footer {
  margin-top: 24px;
  padding: 9px 3px 50px 310px;
  box-sizing: border-box;
  width: 910px;
  font-family: Arial;
  background-color: #213a4d;

  a {
    display: block;
    font-size: 12px;
    line-height: 12px;
    color: #bec6c9;
    text-decoration: none;
    transition: color .5s;

    &:after {
      content: '|';
      margin-left: 11px;
      margin-right: 7px;
      font-size: 14px;
      color: #8d989f;
    }

    &:hover {
      color: #52abcb;
    }
  }

  li {
    font-size: 0px;
    display: inline-block;
    list-style: none;
    letter-spacing: .2px;
    &:nth-child(4) {
      a:after {
        content: '';
        margin-left: 15px;
        margin-right: 12px;
      }
	}
  }
	
  p {
    margin-top: 15px;
    margin-left: 69px;
    letter-spacing: 0px;
    color: #7f4740;
    font-size: 10px;
  }
}