footer {
  margin-top: 24px;
  padding: 9px 3px 50px 310px;
  box-sizing: border-box;
  width: 910px;
  background-color: #213a4d;
  font-family: Arial;

  a {
    display: block;
    font-size: 12px;
    line-height: 12px;
    color: #bec6c9;
    text-decoration: none;
    &:after {
      content: '|';
      margin-left: 13px;
      margin-right: 7px;
      font-size: 14px;
      color: #8d989f;
    }
    &:hover {
      color: #52abcb;
    }
  }

  li {
    font-size: 0px;
    display: inline-block;
    list-style: none;
    &:nth-child(4) {
      a:after {
        content: '';
      }
	}


  }
	
  p {
	margin-top: 15px;
    margin-left: 70px;
	color: #7f4740;
	font-size: 10px;
  }
}