nav {
  display: flex;
  margin-top: 6px;
  box-sizing: border-box;
  width: 911px;
  height: 34px;
  padding: 0px 0px 0px 127px;
  border-radius: 5px;
  background: linear-gradient(to top, #000000 0%, #576068 100%);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.75);

  .menu {
    padding: 3px 0px 0px;
    vertical-align: bottom;

    li {
      display: inline-block;
      margin-right: -15px;
      height: 28px;
      list-style: none;

      li:last-child {
        margin-right: 0px;
      }

      a {
        display: block;
        box-sizing: border-box;
        padding: 0px 20px;
        height: 28px;
        line-height: 28px;
        font-size: 13.64px;
        text-decoration: none;
        font-family: Lucida, sans-serif;
        color: #b1bcc0;

        &:hover {
          animation: shadow .4s 1 ease-in-out forwards;
        }
      }
    }
  }

  .cart {
    display: flex;
    align-items: center;
    margin-left: 70px;
    line-height: 28px;
    font-size: 11px;
    font-family: Lucida, sans-serif;
    color: #fff;

    i {
      margin-right: 10px;
      padding-top: 6px;
      transform: scale(-1, 1);
      font-size: 21px;
      text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.75);
    }

    span {
      font-size: 11px;
      font-family: Arial;
    }

    a {
      font-size: 12px;
      font-family: Arial;
      color: #0d5a8f;
      text-decoration: none;

      &:hover {
        animation: shadowCart .3s 1 ease-in-out forwards;
      }
    }

    div:last-child {
      margin-left: 16px;
      a {
        margin-left: 10px;
      }
    }
  }
}
	
