.search-form {
  margin: 10px 6px 14px; 
  }
 .by-auto, .by-tires, .by-disks {
    box-sizing: border-box;
    display: inline-block;
    margin-right: 18px;    
    height: 132px;
    width: 250px;
    border-radius: 15px;
    border: 1px solid #9c9c9d;
    box-shadow: 5px 5px 5px rgba(104, 104, 104, .75);

    a {
    margin-top: 10px;
    display: block;
    text-align: right;
    font-size: 14px;
    font-family: Arial;
    font-style: italic;
  }
  }