//@charset "UTF-8";
$w-color: #fff;
$header-bg: #262626;
$slider-bgc: #2a2a2a;
$services-bgc: #f8f8f8;
$a-color: #d9d9d9;
$height: 33px;
$button-color: #ff6760;

@mixin padding ($padding) {
  padding: $padding;
  box-sizing: border-box;
}

@mixin img-path($path) {
  background: url($path) no-repeat;
}

@keyframes shadow {
  from {text-shadow: 0 0 3px blue;}
  50% {text-shadow: 0 0 30px blue;}
  to {color: #879195;}
}

@keyframes shadowCart {
  from {text-shadow: 0 0 3px #000;}
  50% {text-shadow: 0 0 1px #000;}
  to {color: #0e85c9;}
}

@keyframes catalogueList {
  from {
    font-family: "Arial";
    font-style: italic;
  }

  25%{
    font-family: "Arial";
    font-style: italic;
    font-weight: bolder;
    }

  50%{
    font-family: "Arial";
    font-style: italic;
    font-weight: bold;
  }

  75%{
    font-family: "Arial";
    font-style: italic;
    font-weight: bold;
    font-size: 13px;
  }

  to {
    font-family: "Arial";
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
  }
}

.wrapper {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding: 18px 45px 0;
  box-sizing: border-box;
  width: 1000px;
  background-color: $w-color;
}