.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.image {
  margin: auto;
  width: 319px;
  height: 319px;
  background: url("../img/bigicon.png");
}

.timer {
  display: flex;
  justify-content: center;
  margin: 40px auto 30px;
  width: 320px;
  height: 30px;
  border-bottom: 2px solid #b0e0e6;
}

span {
  width: 10px;
  font-size: 24px;
}

.hours,
.minutes,
.seconds,
.milliseconds {
  width: 45px;
  text-align: center;
  font-family: sans-serif;
}

.buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  width: 400px;
}

button {
  width: 120px;
  height: 50px;
  border: none;
  outline: none;
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 1px 2px cornflowerblue;
}
.start {
  z-index: 1;
  background-color: #9dd685;
}

.pause {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #faf2f0;
}

.clear {
  background-color: #f04f46;
}