& {
  display: flex;
  justify-content: center;
  padding: 75px 0px;
  box-sizing: border-box;
  background: linear-gradient(to top, #322539 0%, #745083 100%);

  &>div {
    display: flex;
    color: #fff;
    font-family: "LG";
    text-shadow: 0px 1px 0px #000;
  }

  h1 {
    margin-bottom: 20px;
    font-size: 30px;
  }

  p {
    margin-bottom: 20px;
    font-size: 16px;
    font-family: "Open Sans Light" ;

  }

  a {
    font-size: 18px;
    float: right;
    color: #fff;
    text-decoration: none;

    &:hover {
      text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
    }
  }

  .icon {
    margin-right: 25px;
    width: 33px;
    height: 33px;
    background-image: url("../images/details/key.png");
    background-size: cover;
  }

  .information {
    width: 215px;
    text-align: justify;
    word-wrap: break-word;
    word-break: break-all;
  }

  .blurbs-two {
    margin-right: 60px;
    margin-left: 60px;

    .icon {
      background-image: url("../images/details/speach.png");
    }
  }

  .blurbs-three {
    .icon {
      background-image: url("../images/details/music.png");
    }

  }
}
