& {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 72px 0px 66px 30px;
  box-sizing: border-box;
  min-width: 768px;
  background: linear-gradient(to top, #322539 0%, #745083 100%);

  &__item {
    display: flex;
    color: #fff;
    font-family: "LG";
    text-shadow: 0px 1px 0px #000;
    line-height: 1.47;

    h1 {
      margin-bottom: 0px;
      font-size: 24px;
    }

    p {
      margin-bottom: 12px;
      font-size: 16px;
      font-family: "OS Light" ;
    }

    a {
      font-size: 18px;
      float: right;
      margin-right: -8px;
      color: #fff;
      text-decoration: none;

      &:hover {
        text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
      }
    }

    .icon {
      margin-top: 7px;
      margin-right: 20px;
      width: 33px;
      height: 33px;
      background-image: url("../images/details/key.png");
      background-size: cover;
    }

    .information {
      width: 363px;
      text-align: justify;
      word-wrap: break-word;
      word-break: break-all;
    }

    &--two {
      margin-top: 15px;
      margin-bottom: 20px;

      .icon {
        background-image: url("../images/details/speach.png");
      }
    }

    &--three {
      .icon {
        background-image: url("../images/details/music.png");
      }

    }

  }
}
