@font-face {
  font-family: "regular";
  src: url("../fonts/Lato-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "black";
  src: url("../fonts/Lato-Black.ttf") format("truetype"); }

@font-face {
  font-family: "light_italic";
  src: url("../fonts/Lato-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "light";
  src: url("../fonts/Lato-Light.ttf") format("truetype"); }

@font-face {
  font-family: "regular";
  src: url("../fonts/Lato-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "black";
  src: url("../fonts/Lato-Black.ttf") format("truetype"); }

@font-face {
  font-family: "light_italic";
  src: url("../fonts/Lato-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "light";
  src: url("../fonts/Lato-Light.ttf") format("truetype"); }

header {
  padding: 35px 150px 30px;
  box-sizing: border-box;
  height: 100px;
  background: #262626; }
  header .logo {
    float: left;
    width: 107px;
    height: 33px;
    background: url("../img/Logo.png") no-repeat; }
  header nav {
    float: right;
    padding: 0px;
    font-size: 0px; }
    header nav li {
      display: inline-block; }
      header nav li a {
        display: block;
        padding: 0px 20px 0px 40px;
        box-sizing: border-box;
        line-height: 33px;
        font-size: 14px;
        text-transform: uppercase;
        font-family: black;
        text-decoration: none;
        color: #d9d9d9;
        transition: color 0.4s; }
      header nav li a:hover {
        color: #ff6760; }

@font-face {
  font-family: "regular";
  src: url("../fonts/Lato-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "black";
  src: url("../fonts/Lato-Black.ttf") format("truetype"); }

@font-face {
  font-family: "light_italic";
  src: url("../fonts/Lato-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "light";
  src: url("../fonts/Lato-Light.ttf") format("truetype"); }

.slider {
  padding: 55px 150px;
  box-sizing: border-box;
  background: #2a2a2a; }
  .slider .slider p {
    margin-bottom: 40px;
    text-align: center;
    font-size: 40px;
    line-height: 1.2;
    font-family: light;
    color: #fff; }
    .slider .slider p .first {
      font-size: 60px; }
    .slider .slider p .bold {
      font-family: black; }
    .slider .slider p .italic {
      font-family: light_italic; }
  .slider button {
    display: block;
    margin: 0px auto;
    padding: 15px 40px;
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-family: black;
    text-transform: uppercase;
    color: #fff;
    background-color: #ff6760;
    outline: none;
    transition: text-shadow .3s, box-shadow .4s; }
  .slider button:hover {
    cursor: pointer;
    text-shadow: 0px 2px 3px #000;
    box-shadow: 0px 3px 7px #000; }

@font-face {
  font-family: "regular";
  src: url("../fonts/Lato-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "black";
  src: url("../fonts/Lato-Black.ttf") format("truetype"); }

@font-face {
  font-family: "light_italic";
  src: url("../fonts/Lato-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "light";
  src: url("../fonts/Lato-Light.ttf") format("truetype"); }

.portfolio {
  margin: 0px auto;
  padding: 55px 150px;
  text-align: center;
  box-sizing: border-box;
  outline: 1px solid red; }
  .portfolio .img, .portfolio .img2, .portfolio .img3, .portfolio .img4, .portfolio .img5, .portfolio .img6, .portfolio .img7, .portfolio .img8, .portfolio .img9, .portfolio .img10, .portfolio .img11, .portfolio .img12 {
    display: inline-block;
    margin: 0px 10px 10px 0px;
    width: 240px;
    height: 220px;
    background: url("../img/img1.png") no-repeat; }
  .portfolio .img2 {
    background: url("../img/img2.png") no-repeat; }
  .portfolio .img3 {
    background: url("../img/img3.png") no-repeat; }
  .portfolio .img4 {
    background: url("../img/img4.png") no-repeat; }
  .portfolio .img5 {
    background: url("../img/img5.png") no-repeat; }
  .portfolio .img6 {
    background: url("../img/img6.png") no-repeat; }
  .portfolio .img7 {
    background: url("../img/img7.png") no-repeat; }
  .portfolio .img8 {
    background: url("../img/img8.png") no-repeat; }
  .portfolio .img9 {
    background: url("../img/img9.png") no-repeat; }
  .portfolio .img10 {
    background: url("../img/img10.png") no-repeat; }
  .portfolio .img11 {
    background: url("../img/img11.png") no-repeat; }
  .portfolio .img12 {
    background: url("../img/img12.png") no-repeat; }

body {
  min-width: 1200px;
  background-color: #fff;
  background-size: cover; }
