@font-face {
	font-family: "OS-bold";
	src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
	font-family: "R-bold";
	src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
	font-family: "OS-light";
	src: url("../fonts/OpenSans-Light.ttf");
}

$main-color: #9153cc;
