.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  margin: 50px auto;
  /*border: 1px solid green;*/
}

form {  justify-content: center;
  box-sizing: border-box;
  margin: 40px auto 30px;
  width: 450px;
  font-family: "Segoe UI Light";
}

form>div {
  display: flex;
  margin: 30px auto;
  box-sizing: border-box;
  width: 450px;
  /*border: 1px solid red;*/
  line-height: 26px;
}

label {
  width: 80px;
}

input {
  box-sizing: border-box;
  width: 150px;
  margin: 0 10px;
}
.tooltip {
  width: 200px;
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  border-radius: 8px;
  color: #fff;
  background-color: rgba(255, 127, 80, 1);
}

button {
  box-sizing: border-box;
  margin: 20px ;
  width: 100px;
  height: 40px;
  line-height: 36px;
  border: none;
  font-family: "Segoe UI Light";
  color: #fff;
  background-color: rgba(60, 179, 113, 1);

}