.wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.select-wrapper {
  margin: 18px auto;
}

select {
  width: 200px;
  font-family: "Segoe UI Light";
}

.check-box-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px auto;
  height: 60px;
}


.check-box-wrapper_css {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px auto;
  height: 60px;
}

input[type=checkbox] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label {
  cursor: pointer;
  font-family: "Segoe UI Light";
}

label:after {
  content: " ";
  display: inline-block;
  position: relative;
  top: 3px;
  margin-left: 15px;
  width: 20px;
  height: 20px;
  background: #8bbbc1;
}
input[type=checkbox]:checked + label:after {
  background: #8BBBC1 url("../img/line.png") -12px  no-repeat;
}

.menu-wrapper {
  margin: 30px auto;
  width: 600px;
  height: 400px;
}

.self-menu-wrapper {
  margin: 30px auto;
  width: 300px;
  height: 500px;
}

.self-menu {
  display: flex;
  position: relative;
}

.self-menu li {
  list-style: none;
  height: 40px;
}

.self-menu a {
  display: block;
  box-sizing: border-box;
  padding: 0px 5px;
  width: 100px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  font-family: "Segoe UI Light";
  text-decoration: none;
  background-color: #9c9cdd;
  color: #fff;
  transition: background-color .45s;
}

.self-menu>li>a:hover {
  box-shadow: inset 0px 0px 0px 2px #fff;
}
.self-menu a:focus{
  background-color: #776ea7;
}

.self-sub-menu {
  display: none;
  position: absolute;
}
.self-sub-menu li{
  margin-top: 1px;
}
.self-sub-menu a {
  display: block;
  box-sizing: border-box;
  font-size: 14px;
  width: 150px;
  color: #fff;
  text-align: left;
}

.self-sub-menu a:hover {
  padding-left: 10px;
  background: #f4c7ee;
}



