/* Tabs */
.wrapper {
  border: 1px solid #ccc;
  border-radius: 8px;
}

.tabs {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

li {
  float: left;
  border-left: 1px solid #ccc;
}

a {
  display: block;
  padding: 8px 16px;
  font-size: 18px;
  line-height: 21px;
  color: #999;
}

a.active,
a:hover {
  color: #369;
}

.tabs-content {
  padding: 20px;
  font-size: 16px;
  line-height: 21px;
}
