@font-face {
	font-family: "regular";
	src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
	font-family: "black";
	src: url("../fonts/Lato-Black.ttf");
}

@font-face {
	font-family: "light_italic";
	src: url("../fonts/Lato-LightItalic.ttf");
}

@font-face {
	font-family: "light";
	src: url("../fonts/Lato-Light.ttf");
}

$w-color: #fff;
$header-bg: #262626;
$slider-bgc: #2a2a2a;
$services-bgc: #f8f8f8;
$a-color: #d9d9d9;
$height: 33px;
$button-color: #ff6760;

@mixin padding ($padding) {
	padding:$padding;
	box-sizing: border-box;
}
@mixin img-path($path) {
	background: url($path) no-repeat;
}

body {
	min-width: 1200px;
	background-color: $w-color;
	background-size: cover;
}
 